In [ ]:
# DICTIONARY DATATYPE ASSIGNMENT - 50 QUESTIONS

# SOLVED EXAMPLE
# Question: Find the key with maximum value in a dictionary
print("Find the key with maximum value in a dictionary")
scores = {'Alice': 85, 'Bob': 92, 'Charlie': 78, 'Diana': 95, 'Eve': 88}
max_key = max(scores, key=scores.get)
max_value = scores[max_key]
print(f"Dictionary: {scores}")
print(f"Key with maximum value: {max_key}")
print(f"Maximum value: {max_value}")
print("-" * 50)

Find the key with maximum value in a dictionary
Dictionary: {'Alice': 85, 'Bob': 92, 'Charlie': 78, 'Diana': 95, 'Eve': 88}
Key with maximum value: Diana
Maximum value: 95
--------------------------------------------------

In [1]:
# ASSIGNMENT QUESTIONS (50 QUESTIONS)
# ==================================

# Question 1: Create a dictionary of student names and their ages
print("Question 1: Create a dictionary of student names and their ages")
# Your code here

# Dictionary of student names and ages
students = {
    "Alice": 20,
    "Bob": 22,
    "Charlie": 19,
    "David": 21,
    "Emma": 20
}

print(students)

Question 1: Create a dictionary of student names and their ages
{'Alice': 20, 'Bob': 22, 'Charlie': 19, 'David': 21, 'Emma': 20}

In [3]:
# Create an empty dictionary
students = {}

# Ask how many students to add
n = int(input("Enter the number of students: "))

# Loop to add students dynamically
for i in range(n):
    name = input(f"Enter the name of student {i+1}: ")
    age = int(input(f"Enter the age of {name}: "))
    students[name] = age

# Display the dictionary
print("\nDictionary of students and ages:")
print(students)

Enter the number of students: 2
Enter the name of student 1: Preethi
Enter the age of Preethi: 24
Enter the name of student 2: Supriya
Enter the age of Supriya: 24

Dictionary of students and ages:
{'Preethi': 24, 'Supriya': 24}

In [4]:
# Question 2: Add a new key-value pair to dictionary {'a': 1, 'b': 2, 'c': 3}
print("\nQuestion 2: Add a new key-value pair to dictionary {'a': 1, 'b': 2, 'c': 3}")
# Your code here
# Original dictionary
my_dict = {'a': 1, 'b': 2, 'c': 3}

# Add a new key-value pair
my_dict['d'] = 4

# Display updated dictionary
print(my_dict)

Question 2: Add a new key-value pair to dictionary {'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [6]:
# Question 3: Get all keys from dictionary {'name': 'John', 'age': 25, 'city': 'New York'}
print("\nQuestion 3: Get all keys from dictionary {'name': 'John', 'age': 25, 'city': 'New York'}")
# Your code here

# Given dictionary
person = {'name': 'John', 'age': 25, 'city': 'New York'}

# Get all keys
keys = person.keys()

# Display keys
print(keys)
print(list(person.keys()))

Question 3: Get all keys from dictionary {'name': 'John', 'age': 25, 'city': 'New York'}
dict_keys(['name', 'age', 'city'])
['name', 'age', 'city']

In [7]:
# Question 4: Get all values from dictionary {'python': 3, 'java': 2, 'c++': 1}
print("\nQuestion 4: Get all values from dictionary {'python': 3, 'java': 2, 'c++': 1}")
# Your code here

# Given dictionary
languages = {'python': 3, 'java': 2, 'c++': 1}

# Get all values
values = languages.values()

# Display values
print(values)
print(list(languages.values()))

Question 4: Get all values from dictionary {'python': 3, 'java': 2, 'c++': 1}
dict_values([3, 2, 1])
[3, 2, 1]

In [8]:
# Question 5: Check if key 'age' exists in {'name': 'Alice', 'age': 30, 'city': 'London'}
print("\nQuestion 5: Check if key 'age' exists in {'name': 'Alice', 'age': 30, 'city': 'London'}")
# Your code here

# Given dictionary
person = {'name': 'Alice', 'age': 30, 'city': 'London'}

# Check if 'age' exists
if 'age' in person:
    print("Key 'age' exists in the dictionary")
else:
    print("Key 'age' does not exist in the dictionary")

Question 5: Check if key 'age' exists in {'name': 'Alice', 'age': 30, 'city': 'London'}
Key 'age' exists in the dictionary

In [9]:
if person.get('age') is not None:
    print("Key 'age' exists")
else:
    print("Key 'age' does not exist")

Key 'age' exists

In [11]:
# Question 6: Remove key 'temp' from {'a': 1, 'b': 2, 'temp': 3, 'c': 4}
print("\nQuestion 6: Remove key 'temp' from {'a': 1, 'b': 2, 'temp': 3, 'c': 4}")
# Your code here

# Given dictionary
my_dict = {'a': 1, 'b': 2, 'temp': 3, 'c': 4}

# Remove 'temp' using pop()
my_dict.pop('temp')

print(my_dict)

Question 6: Remove key 'temp' from {'a': 1, 'b': 2, 'temp': 3, 'c': 4}
{'a': 1, 'b': 2, 'c': 4}

In [12]:
# Given dictionary
my_dict = {'a': 1, 'b': 2, 'temp': 3, 'c': 4}

#another way del
del my_dict['temp']
print(my_dict)

{'a': 1, 'b': 2, 'c': 4}

In [13]:
# Question 7: Find the sum of all values in {'math': 85, 'science': 92, 'english': 78}
print("\nQuestion 7: Find the sum of all values in {'math': 85, 'science': 92, 'english': 78}")
# Your code here

# Given dictionary
marks = {'math': 85, 'science': 92, 'english': 78}

# Find sum of values
total = sum(marks.values())

print("Sum of all values:", total)

Question 7: Find the sum of all values in {'math': 85, 'science': 92, 'english': 78}
Sum of all values: 255

In [14]:
# Question 8: Create a dictionary with squares of numbers 1 to 5
print("\nQuestion 8: Create a dictionary with squares of numbers 1 to 5")
# Your code here

# Dictionary with squares of numbers 1 to 5
squares = {x: x**2 for x in range(1, 6)}

print(squares)

Question 8: Create a dictionary with squares of numbers 1 to 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [15]:
# Question 9: Count frequency of each character in string "hello"
print("\nQuestion 9: Count frequency of each character in string 'hello'")
# Your code here

# Given string
text = "hello"

# Create empty dictionary
freq = {}

# Loop through each character
for char in text:
    freq[char] = freq.get(char, 0) + 1

print(freq)

Question 9: Count frequency of each character in string 'hello'
{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [16]:
from collections import Counter

text = "hello"
freq = Counter(text)

print(dict(freq))

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [17]:
# Question 10: Merge two dictionaries {'a': 1, 'b': 2} and {'c': 3, 'd': 4}
print("\nQuestion 10: Merge two dictionaries {'a': 1, 'b': 2} and {'c': 3, 'd': 4}")
# Your code here

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

merged_dict = dict1 | dict2

print(merged_dict)

Question 10: Merge two dictionaries {'a': 1, 'b': 2} and {'c': 3, 'd': 4}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [18]:
# Question 11: Create a nested dictionary: {'person': {'name': 'Alice', 'age': 25}}
print("\nQuestion 11: Create a nested dictionary: {'person': {'name': 'Alice', 'age': 25}}")
# Your code here

# Nested dictionary
nested_dict = {
    'person': {
        'name': 'Alice',
        'age': 25
    }
}

print(nested_dict)

Question 11: Create a nested dictionary: {'person': {'name': 'Alice', 'age': 25}}
{'person': {'name': 'Alice', 'age': 25}}

In [19]:
# Question 12: Access nested value 'name' from {'person': {'name': 'Alice', 'age': 25}}
print("\nQuestion 12: Access nested value 'name' from {'person': {'name': 'Alice', 'age': 25}}")
# Your code here

# Nested dictionary
nested_dict = {'person': {'name': 'Alice', 'age': 25}}

# Access the nested value
name = nested_dict['person']['name']

print(name)

Question 12: Access nested value 'name' from {'person': {'name': 'Alice', 'age': 25}}
Alice

In [20]:
# Question 13: Create a dictionary with list values: {'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}
print("\nQuestion 13: Create a dictionary with list values: {'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}")
# Your code here

# Dictionary with list values
my_dict = {
    'fruits': ['apple', 'banana'],
    'colors': ['red', 'blue']
}

print(my_dict)

Question 13: Create a dictionary with list values: {'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}
{'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}

In [21]:
# Question 14: Add 'orange' to the 'fruits' list in nested dictionary
print("\nQuestion 14: Add 'orange' to the 'fruits' list in nested dictionary")
# Your code here

# Existing dictionary with list values
my_dict = {
    'fruits': ['apple', 'banana'],
    'colors': ['red', 'blue']
}

# Add 'orange' to the 'fruits' list
my_dict['fruits'].append('orange')

print(my_dict)

Question 14: Add 'orange' to the 'fruits' list in nested dictionary
{'fruits': ['apple', 'banana', 'orange'], 'colors': ['red', 'blue']}

In [22]:
# Question 15: Create a dictionary with tuple values: {'coordinates': (10, 20), 'rgb': (255, 0, 0)}
print("\nQuestion 15: Create a dictionary with tuple values: {'coordinates': (10, 20), 'rgb': (255, 0, 0)}")
# Your code here

# Dictionary with tuple values
my_dict = {
    'coordinates': (10, 20),
    'rgb': (255, 0, 0)
}

print(my_dict)

Question 15: Create a dictionary with tuple values: {'coordinates': (10, 20), 'rgb': (255, 0, 0)}
{'coordinates': (10, 20), 'rgb': (255, 0, 0)}

In [23]:
# Question 16: Extract first coordinate from nested tuple
print("\nQuestion 16: Extract first coordinate from nested tuple")
# Your code here

# Dictionary with tuple values
my_dict = {
    'coordinates': (10, 20),
    'rgb': (255, 0, 0)
}

# Extract the first coordinate
first_coord = my_dict['coordinates'][0]

print(first_coord)

Question 16: Extract first coordinate from nested tuple
10

In [24]:
# Nested tuple
nested_tuple = ((10, 20), (30, 40), (50, 60))

# Extract first coordinate of the first inner tuple
first_coord = nested_tuple[0][0]

print(first_coord)

10

In [25]:
# Question 17: Create a dictionary with set values: {'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}
print("\nQuestion 17: Create a dictionary with set values: {'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}")
# Your code here

# Dictionary with set values
my_dict = {
    'vowels': {'a', 'e', 'i'},
    'consonants': {'b', 'c', 'd'}
}

print(my_dict)

Question 17: Create a dictionary with set values: {'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}
{'vowels': {'a', 'e', 'i'}, 'consonants': {'d', 'b', 'c'}}

In [26]:
# Question 18: Add 'o' to vowels set in nested dictionary
print("\nQuestion 18: Add 'o' to vowels set in nested dictionary")
# Your code here

# Existing dictionary with set values
my_dict = {
    'vowels': {'a', 'e', 'i'},
    'consonants': {'b', 'c', 'd'}
}

# Add 'o' to the 'vowels' set
my_dict['vowels'].add('o')

print(my_dict)

Question 18: Add 'o' to vowels set in nested dictionary
{'vowels': {'a', 'e', 'i', 'o'}, 'consonants': {'d', 'b', 'c'}}

In [27]:
# Question 19: Create a 3-level nested dictionary: {'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}
print("\nQuestion 19: Create a 3-level nested dictionary: {'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}")
# Your code here

# 3-level nested dictionary
nested_dict = {
    'company': {
        'department': {
            'employee': {
                'name': 'John',
                'id': 123
            }
        }
    }
}

print(nested_dict)

Question 19: Create a 3-level nested dictionary: {'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}
{'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}

In [28]:
# Question 20: Access employee name from 3-level nested dictionary
print("\nQuestion 20: Access employee name from 3-level nested dictionary")
# Your code here

# 3-level nested dictionary
nested_dict = {
    'company': {
        'department': {
            'employee': {
                'name': 'John',
                'id': 123
            }
        }
    }
}

# Access employee name
employee_name = nested_dict['company']['department']['employee']['name']

print(employee_name)

Question 20: Access employee name from 3-level nested dictionary
John

In [29]:
# Question 21: Create a dictionary with mixed data types: {'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}
print("\nQuestion 21: Create a dictionary with mixed data types: {'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}")
# Your code here

# Dictionary with mixed data types
mixed_dict = {
    'int': 42,
    'float': 3.14,
    'str': 'hello',
    'bool': True
}

print(mixed_dict)

Question 21: Create a dictionary with mixed data types: {'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}
{'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}

In [30]:
# Question 22: Check data type of each value in mixed dictionary
print("\nQuestion 22: Check data type of each value in mixed dictionary")
# Your code here

# Mixed dictionary
mixed_dict = {
    'int': 42,
    'float': 3.14,
    'str': 'hello',
    'bool': True
}

# Check data type of each value
for key, value in mixed_dict.items():
    print(f"The type of '{key}' is {type(value)}")

Question 22: Check data type of each value in mixed dictionary
The type of 'int' is <class 'int'>
The type of 'float' is <class 'float'>
The type of 'str' is <class 'str'>
The type of 'bool' is <class 'bool'>

In [31]:
# Question 23: Create a dictionary with function values: {'len': len, 'str': str, 'int': int}
print("\nQuestion 23: Create a dictionary with function values: {'len': len, 'str': str, 'int': int}")
# Your code here

# Dictionary with function values
func_dict = {
    'len': len,
    'str': str,
    'int': int
}

print(func_dict)

Question 23: Create a dictionary with function values: {'len': len, 'str': str, 'int': int}
{'len': <built-in function len>, 'str': <class 'str'>, 'int': <class 'int'>}

In [32]:
# Question 24: Apply each function to "123" using dictionary
print("\nQuestion 24: Apply each function to '123' using dictionary")
# Your code here

# Dictionary with function values
func_dict = {
    'len': len,
    'str': str,
    'int': int
}

# Value to apply functions to
value = "123"

# Apply each function
for name, func in func_dict.items():
    result = func(value)
    print(f"{name}('{value}') = {result}")

Question 24: Apply each function to '123' using dictionary
len('123') = 3
str('123') = 123
int('123') = 123

In [35]:
# Question 25: Create a dictionary with lambda functions: {'double': lambda x: x*2, 'square': lambda x: x**2}
print("\nQuestion 25: Create a dictionary with lambda functions: {'double': lambda x: x*2, 'square': lambda x: x**2}")
# Your code here
# Dictionary with lambda functions
func_dict = {
    'double': lambda x: x * 2,
    'square': lambda x: x ** 2
}

# Test the functions
print(func_dict )
print(func_dict )

Question 25: Create a dictionary with lambda functions: {'double': lambda x: x*2, 'square': lambda x: x**2}
{'double': <function <lambda> at 0x7ba34d5ef920>, 'square': <function <lambda> at 0x7ba34d5eec00>}
{'double': <function <lambda> at 0x7ba34d5ef920>, 'square': <function <lambda> at 0x7ba34d5eec00>}

In [36]:
# Question 26: Apply each lambda function to 5
print("\nQuestion 26: Apply each lambda function to 5")
# Your code here

# Dictionary with lambda functions
func_dict = {
    'double': lambda x: x * 2,
    'square': lambda x: x ** 2
}

# Value to apply functions to
value = 5

# Apply each lambda function
for name, func in func_dict.items():
    result = func(value)
    print(f"{name}({value}) = {result}")

Question 26: Apply each lambda function to 5
double(5) = 10
square(5) = 25

In [37]:
# Question 27: Create a dictionary with class values: {'list': list, 'dict': dict, 'set': set}
print("\nQuestion 27: Create a dictionary with class values: {'list': list, 'dict': dict, 'set': set}")
# Your code here

# Dictionary with class values
class_dict = {
    'list': list,
    'dict': dict,
    'set': set
}

print(class_dict)

Question 27: Create a dictionary with class values: {'list': list, 'dict': dict, 'set': set}
{'list': <class 'list'>, 'dict': <class 'dict'>, 'set': <class 'set'>}

In [38]:
# Question 28: Create instances using class dictionary
print("\nQuestion 28: Create instances using class dictionary")
# Your code here

# Dictionary with class values
class_dict = {
    'list': list,
    'dict': dict,
    'set': set
}

# Create instances using the classes
my_list = class_dict['list']([1, 2, 3])
my_dict = class_dict['dict'](a=1, b=2)
my_set = class_dict['set']([1, 2, 2, 3])

# Print the instances
print("List instance:", my_list)
print("Dict instance:", my_dict)
print("Set instance:", my_set)

Question 28: Create instances using class dictionary
List instance: [1, 2, 3]
Dict instance: {'a': 1, 'b': 2}
Set instance: {1, 2, 3}

In [39]:
# Question 29: Create a dictionary with None values: {'a': None, 'b': None, 'c': None}
print("\nQuestion 29: Create a dictionary with None values: {'a': None, 'b': None, 'c': None}")
# Your code here

# Dictionary with None values
none_dict = {
    'a': None,
    'b': None,
    'c': None
}

print(none_dict)

Question 29: Create a dictionary with None values: {'a': None, 'b': None, 'c': None}
{'a': None, 'b': None, 'c': None}

In [40]:
# Question 30: Replace all None values with 0
print("\nQuestion 30: Replace all None values with 0")
# Your code here

# Dictionary with None values
none_dict = {'a': None, 'b': None, 'c': None}

# Replace None values with 0
for key in none_dict:
    if none_dict[key] is None:
        none_dict[key] = 0

print(none_dict)

Question 30: Replace all None values with 0
{'a': 0, 'b': 0, 'c': 0}

In [41]:
# Dictionary with None values
none_dict = {'a': None, 'b': None, 'c': None}

none_dict = {key: (0 if value is None else value) for key, value in none_dict.items()}
print(none_dict)

{'a': 0, 'b': 0, 'c': 0}

In [42]:
# Question 31: Create a dictionary with boolean values: {'is_active': True, 'is_admin': False}
print("\nQuestion 31: Create a dictionary with boolean values: {'is_active': True, 'is_admin': False}")
# Your code here

# Dictionary with boolean values
bool_dict = {
    'is_active': True,
    'is_admin': False
}

print(bool_dict)

Question 31: Create a dictionary with boolean values: {'is_active': True, 'is_admin': False}
{'is_active': True, 'is_admin': False}

In [43]:
# Question 32: Count True values in boolean dictionary
print("\nQuestion 32: Count True values in boolean dictionary")
# Your code here

# You can count the number of True values in a dictionary by using the sum() function, since True is treated as 1 and False as 0 in Python.

# Boolean dictionary
bool_dict = {
    'is_active': True,
    'is_admin': False,
    'is_verified': True
}

# Count True values
true_count = sum(bool_dict.values())

print("Number of True values:", true_count)

Question 32: Count True values in boolean dictionary
Number of True values: 2

In [46]:
# Question 33: Create a dictionary with complex numbers: {'z1': 3+4j, 'z2': 1+2j}
print("\nQuestion 33: Create a dictionary with complex numbers: {'z1': 3+4j, 'z2': 1+2j}")
# Your code here

# Dictionary with complex numbers
complex_dict = {
    'z1': 3 + 4j,
    'z2': 1 + 2j
}

print(complex_dict)

print(complex_dict['z1'])
print(complex_dict['z1'].real)
print(complex_dict['z1'].imag)

Question 33: Create a dictionary with complex numbers: {'z1': 3+4j, 'z2': 1+2j}
{'z1': (3+4j), 'z2': (1+2j)}
(3+4j)
3.0
4.0

In [47]:
# Question 34: Find magnitude of each complex number
print("\nQuestion 34: Find magnitude of each complex number")
# Your code here

# Dictionary with complex numbers
complex_dict = {
    'z1': 3 + 4j,
    'z2': 1 + 2j
}

# Calculate magnitude of each complex number
for key, value in complex_dict.items():
    magnitude = abs(value)
    print(f"Magnitude of {key} ({value}) = {magnitude}")

Question 34: Find magnitude of each complex number
Magnitude of z1 ((3+4j)) = 5.0
Magnitude of z2 ((1+2j)) = 2.23606797749979

In [48]:
# Question 35: Create a 4-level nested dictionary
print("\nQuestion 35: Create a 4-level nested dictionary")
# Your code here

# 4-level nested dictionary
nested_dict = {
    'level1': {
        'level2': {
            'level3': {
                'level4': {
                    'value': 'Deep Value'
                }
            }
        }
    }
}

print(nested_dict)

Question 35: Create a 4-level nested dictionary
{'level1': {'level2': {'level3': {'level4': {'value': 'Deep Value'}}}}}

In [49]:
# Question 36: Access deepest value in 4-level nested dictionary
print("\nQuestion 36: Access deepest value in 4-level nested dictionary")
# Your code here

# 4-level nested dictionary
nested_dict = {
    'level1': {
        'level2': {
            'level3': {
                'level4': {
                    'value': 'Deep Value'
                }
            }
        }
    }
}

# Access the deepest value
deepest_value = nested_dict['level1']['level2']['level3']['level4']['value']

print(deepest_value)

Question 36: Access deepest value in 4-level nested dictionary
Deep Value

In [51]:
# Question 37: Create a dictionary with range values: {'r1': range(3), 'r2': range(5)}
print("\nQuestion 37: Create a dictionary with range values: {'r1': range(3), 'r2': range(5)}")
# Your code here

# Dictionary with range values
range_dict = {
    'r1': range(3),  # 0, 1, 2
    'r2': range(5)   # 0, 1, 2, 3, 4
}

print(range_dict)

print(list(range_dict['r1']))  # [0, 1, 2]
print(list(range_dict['r2']))  # [0, 1, 2, 3, 4]

Question 37: Create a dictionary with range values: {'r1': range(3), 'r2': range(5)}
{'r1': range(0, 3), 'r2': range(0, 5)}
[0, 1, 2]
[0, 1, 2, 3, 4]

In [ ]:
# Question 38: Convert each range to list
print("\nQuestion 38: Convert each range to list")
# Your code here

# Dictionary with range values
range_dict = {
    'r1': range(3),
    'r2': range(5)
}

# Convert each range to a list
list_dict = {key: list(value) for key, value in range_dict.items()}

print(list_dict)

In [52]:
# Question 39: Create a dictionary with generator values
print("\nQuestion 39: Create a dictionary with generator values")
# Your code here

# Dictionary with generator values
gen_dict = {
    'g1': (x * 2 for x in range(3)),  # 0, 2, 4
    'g2': (x ** 2 for x in range(5))  # 0, 1, 4, 9, 16
}

print(gen_dict)

Question 39: Create a dictionary with generator values
{'g1': <generator object <genexpr> at 0x7ba34d455220>, 'g2': <generator object <genexpr> at 0x7ba34d454c70>}

In [53]:
# Question 40: Convert each generator to list
print("\nQuestion 40: Convert each generator to list")
# Your code here

# Dictionary with generator values
gen_dict = {
    'g1': (x * 2 for x in range(3)),
    'g2': (x ** 2 for x in range(5))
}

# Convert each generator to a list
list_dict = {key: list(value) for key, value in gen_dict.items()}

print(list_dict)

Question 40: Convert each generator to list
{'g1': [0, 2, 4], 'g2': [0, 1, 4, 9, 16]}

In [54]:
# Question 41: Create a dictionary with iterator values
print("\nQuestion 41: Create a dictionary with iterator values")
# Your code here
# Dictionary with iterator values
iter_dict = {
    'it1': iter([1, 2, 3]),
    'it2': iter(range(5))
}

print(iter_dict)

Question 41: Create a dictionary with iterator values
{'it1': <list_iterator object at 0x7ba34d4b8a90>, 'it2': <range_iterator object at 0x7ba34d4b8960>}

In [55]:
# Question 42: Extract all elements from each iterator
print("\nQuestion 42: Extract all elements from each iterator")
# Your code here

# Dictionary with iterator values
iter_dict = {
    'it1': iter([1, 2, 3]),
    'it2': iter(range(5))
}

# Extract all elements from each iterator
extracted_dict = {key: list(value) for key, value in iter_dict.items()}

print(extracted_dict)

Question 42: Extract all elements from each iterator
{'it1': [1, 2, 3], 'it2': [0, 1, 2, 3, 4]}

In [56]:
# Question 43: Create a dictionary with nested lists: {'matrix': [[1, 2], [3, 4]], 'vector': [5, 6, 7]}
print("\nQuestion 43: Create a dictionary with nested lists: {'matrix': [[1, 2], [3, 4]], 'vector': [5, 6, 7]}")
# Your code here

# Dictionary with nested lists
nested_list_dict = {
    'matrix': [[1, 2], [3, 4]],
    'vector': [5, 6, 7]
}

print(nested_list_dict)

Question 43: Create a dictionary with nested lists: {'matrix': [[1, 2], [3, 4]], 'vector': [5, 6, 7]}
{'matrix': [[1, 2], [3, 4]], 'vector': [5, 6, 7]}

In [57]:
# Question 44: Find sum of each nested list
print("\nQuestion 44: Find sum of each nested list")
# Your code here

# Dictionary with nested lists
nested_list_dict = {
    'matrix': [[1, 2], [3, 4]],
    'vector': [5, 6, 7]
}

# Calculate sum of each nested list
sum_dict = {}

for key, value in nested_list_dict.items():
    # If value is a list of lists
    if all(isinstance(i, list) for i in value):
        sum_dict[key] = [sum(sublist) for sublist in value]
    else:  # simple list
        sum_dict[key] = sum(value)

print(sum_dict)

Question 44: Find sum of each nested list
{'matrix': [3, 7], 'vector': 18}

In [58]:
# Question 45: Create a dictionary with nested dictionaries: {'config': {'db': {'host': 'localhost', 'port': 5432}}}
print("\nQuestion 45: Create a dictionary with nested dictionaries: {'config': {'db': {'host': 'localhost', 'port': 5432}}}")
# Your code here

# Dictionary with nested dictionaries
nested_dict = {
    'config': {
        'db': {
            'host': 'localhost',
            'port': 5432
        }
    }
}

print(nested_dict)

Question 45: Create a dictionary with nested dictionaries: {'config': {'db': {'host': 'localhost', 'port': 5432}}}
{'config': {'db': {'host': 'localhost', 'port': 5432}}}

In [59]:
# Question 46: Access database port from nested configuration
print("\nQuestion 46: Access database port from nested configuration")
# Your code here

# Nested dictionary
nested_dict = {
    'config': {
        'db': {
            'host': 'localhost',
            'port': 5432
        }
    }
}

# Access the database port
db_port = nested_dict['config']['db']['port']

print(db_port)

Question 46: Access database port from nested configuration
5432

In [60]:
# Question 47: Create a dictionary with nested tuples: {'points': ((1, 2), (3, 4)), 'rgb': ((255, 0, 0), (0, 255, 0))}
print("\nQuestion 47: Create a dictionary with nested tuples: {'points': ((1, 2), (3, 4)), 'rgb': ((255, 0, 0), (0, 255, 0))}")
# Your code here

# Dictionary with nested tuples
nested_tuple_dict = {
    'points': ((1, 2), (3, 4)),
    'rgb': ((255, 0, 0), (0, 255, 0))
}

print(nested_tuple_dict)

Question 47: Create a dictionary with nested tuples: {'points': ((1, 2), (3, 4)), 'rgb': ((255, 0, 0), (0, 255, 0))}
{'points': ((1, 2), (3, 4)), 'rgb': ((255, 0, 0), (0, 255, 0))}

In [61]:
# Question 48: Extract first point coordinates
print("\nQuestion 48: Extract first point coordinates")
# Your code here

# Dictionary with nested tuples
nested_tuple_dict = {
    'points': ((1, 2), (3, 4)),
    'rgb': ((255, 0, 0), (0, 255, 0))
}

# Extract first point coordinates
first_point = nested_tuple_dict['points'][0]

print(first_point)

Question 48: Extract first point coordinates
(1, 2)

In [62]:
# Question 49: Create a dictionary with nested sets: {'groups': {{1, 2, 3}, {4, 5, 6}}, 'categories': {{'a', 'b'}, {'c', 'd'}}}
print("\nQuestion 49: Create a dictionary with nested sets: {'groups': {{1, 2, 3}, {4, 5, 6}}, 'categories': {{'a', 'b'}, {'c', 'd'}}}")
# Your code here

# Dictionary with nested sets using frozensets
nested_set_dict = {
    'groups': {frozenset({1, 2, 3}), frozenset({4, 5, 6})},
    'categories': {frozenset({'a', 'b'}), frozenset({'c', 'd'})}
}

print(nested_set_dict)

Question 49: Create a dictionary with nested sets: {'groups': {{1, 2, 3}, {4, 5, 6}}, 'categories': {{'a', 'b'}, {'c', 'd'}}}
{'groups': {frozenset({1, 2, 3}), frozenset({4, 5, 6})}, 'categories': {frozenset({'a', 'b'}), frozenset({'d', 'c'})}}

In [63]:
# Question 50: Find union of all nested sets
print("\nQuestion 50: Find union of all nested sets")
# Your code here

# Dictionary with nested sets (using list of sets)
nested_set_dict = {
    'groups': [{1, 2, 3}, {4, 5, 6}],
    'categories': [{'a', 'b'}, {'c', 'd'}]
}

# Union of all nested sets
union_dict = {}
for key, sets in nested_set_dict.items():
    union_dict[key] = set().union(*sets)  # unpack all sets and union them

print(union_dict)

Question 50: Find union of all nested sets
{'groups': {1, 2, 3, 4, 5, 6}, 'categories': {'d', 'a', 'b', 'c'}}

In [64]:
# Dictionary with nested sets (using list of sets)
nested_set_dict = {
    'groups': [{1, 2, 3}, {4, 5, 6}],
    'categories': [{'a', 'b'}, {'c', 'd'}]
}

# Union of all nested sets

union_dict = {key: set().union(*sets) for key, sets in nested_set_dict.items()}
print(union_dict)

{'groups': {1, 2, 3, 4, 5, 6}, 'categories': {'d', 'a', 'b', 'c'}}