In [1]:
# LIST DATATYPE ASSIGNMENT - 50 QUESTIONS
# SOLVED EXAMPLE
# --------------
# Question: Find the maximum and minimum values in a list
print("Find the maximum and minimum values in a list")
numbers = [23, 45, 12, 67, 34, 89, 56]
max_val = max(numbers)
min_val = min(numbers)
print(f"List: {numbers}")
print(f"Maximum: {max_val}")
print(f"Minimum: {min_val}")
print("-" * 50)

Find the maximum and minimum values in a list
List: [23, 45, 12, 67, 34, 89, 56]
Maximum: 89
Minimum: 12
--------------------------------------------------

In [2]:
# Question 1: Create a list of first 10 square numbers
print("Question 1: Create a list of first 10 square numbers")
# Your code here
# First 10 square numbers
squares = [x**2 for x in range(1, 11)]
print(squares)

Question 1: Create a list of first 10 square numbers
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
# First 10 square numbers using a loop
squares = []
for x in range(1, 11):
    squares.append(x**2)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
# Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("\nQuestion 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]")
# Your code here
# Given list
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Find sum of even numbers
even_sum = 0
for num in numbers:
    if num % 2 == 0:
        even_sum += num

print("Sum of even numbers:", even_sum)


even_sum = sum([num for num in numbers if num % 2 == 0])
print("Sum of even numbers:", even_sum)

Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Sum of even numbers: 30
Sum of even numbers: 30

In [7]:
# Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
print("\nQuestion 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]")
# Your code here
numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
unique_numbers = []
for num in numbers:
    if num not in unique_numbers:
        unique_numbers.append(num)

print("List without duplicates:", unique_numbers)  #order preserved

numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
unique_numbers = list(set(numbers))
print("List without duplicates:", unique_numbers) #order may not be preserved using set()

Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
List without duplicates: [1, 2, 3, 4, 5, 6, 7]
List without duplicates: [1, 2, 3, 4, 5, 6, 7]

In [8]:
# Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order
print("\nQuestion 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order")
# Your code here
numbers = [64, 34, 25, 12, 22, 11, 90]
numbers.sort(reverse=True)
print("Sorted list (descending):", numbers)

Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order
Sorted list (descending): [90, 64, 34, 25, 22, 12, 11]

In [9]:
# Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]
print("\nQuestion 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]")
# Your code here
numbers = [15, 23, 31, 42, 56, 78, 91]
average = sum(numbers) / len(numbers)
print("Average:", average)

Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]
Average: 48.0

In [10]:
# Question 6: Create a list of first 15 Fibonacci numbers
print("\nQuestion 6: Create a list of first 15 Fibonacci numbers")
# Your code here
fibonacci = [0, 1]  # starting two numbers

for i in range(2, 15):
    fibonacci.append(fibonacci[-1] + fibonacci[-2])

print("First 15 Fibonacci numbers:", fibonacci)

Question 6: Create a list of first 15 Fibonacci numbers
First 15 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [11]:
# Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]
print("\nQuestion 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]")
# Your code here
numbers = [45, 67, 23, 89, 12, 34, 78]
second_largest = sorted(numbers)[-2]
print("Second largest number:", second_largest)

Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]
Second largest number: 78

In [12]:
# Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("\nQuestion 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]")
# Your code here
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Reversed list:", numbers[::-1])

Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Reversed list: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [13]:
# Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]
print("\nQuestion 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]")
# Your code here
numbers = [1, 5, 2, 5, 3, 5, 4, 5, 6]
count_5 = 0

for num in numbers:
    if num == 5:
        count_5 += 1

print("5 appears", count_5, "times")

Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]
5 appears 4 times

In [14]:
# Question 10: Create a list of prime numbers between 1 and 50
print("\nQuestion 10: Create a list of prime numbers between 1 and 50")
# Your code here
primes = []
for num in range(2, 51):
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            break
    else:
        primes.append(num)

print("Prime numbers between 1 and 50:", primes)

Question 10: Create a list of prime numbers between 1 and 50
Prime numbers between 1 and 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [15]:
# Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("\nQuestion 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")
# Your code here
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened = []

for sublist in nested_list:
    for num in sublist:
        flattened.append(num)

print("Flattened list:", flattened)

Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
# Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]
print("\nQuestion 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]")
# Your code here
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

common = list(set(list1) & set(list2))
print("Common elements:", common)

Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]
Common elements: [4, 5]

In [23]:
# Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]
print("\nQuestion 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]")
# Your code here
list_of_lists = []
for i in range(1, 6, 2):
    list_of_lists.append([i, i+1])

print("List of lists:", list_of_lists)

Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]
List of lists: [[1, 2], [3, 4], [5, 6]]

In [18]:
# Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("\nQuestion 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")
# Your code here
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
sums = []

for sublist in nested_list:
    sums.append(sum(sublist))

print("Sum of each sublist:", sums)

Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Sum of each sublist: [6, 15, 24]

In [19]:
# Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("\nQuestion 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")
# Your code here
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
transpose = []

for i in range(len(matrix[0])):  # loop over columns
    new_row = []
    for row in matrix:
        new_row.append(row[i])
    transpose.append(new_row)

print("Transposed matrix:", transpose)

Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Transposed matrix: [[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [20]:
# Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
print("\nQuestion 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]")
# Your code here
nested_list = [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
max_values = []

for sublist in nested_list:
    max_values.append(max(sublist))

print("Maximum in each sublist:", max_values)

Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
Maximum in each sublist: [5, 9, 8]

In [21]:
# Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
print("\nQuestion 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]")
# Your code here
list_3d = []
count = 1

for i in range(2):         # 2 main blocks
    block = []
    for j in range(2):     # each block has 2 sublists
        sublist = [count, count + 1]
        block.append(sublist)
        count += 2
    list_3d.append(block)

print("3D list:", list_3d)

Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [24]:
# Question 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
print("\nQuestion 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]")
# Your code here
list_3d = [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
total_sum = 0

for block in list_3d:
    for sublist in block:
        for num in sublist:
            total_sum += num

print("Sum of all elements:", total_sum)

Question 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
Sum of all elements: 36

In [25]:
# Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("\nQuestion 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")
# Your code here
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
evens = [num for sublist in nested_list for num in sublist if num % 2 == 0]
print("Even numbers:", evens)

Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Even numbers: [2, 4, 6, 8]

In [26]:
# Question 20: Create a list of mixed data types: [1, "hello", 3.14, True, [1, 2, 3]]
print("\nQuestion 20: Create a list of mixed data types: [1, 'hello', 3.14, True, [1, 2, 3]]")
# Your code here
mixed_list = []              # start empty

mixed_list.append(1)         # integer
mixed_list.append("hello")   # string
mixed_list.append(3.14)      # float
mixed_list.append(True)      # boolean
mixed_list.append([1, 2, 3]) # list

print("Mixed data type list:", mixed_list)

Question 20: Create a list of mixed data types: [1, 'hello', 3.14, True, [1, 2, 3]]
Mixed data type list: [1, 'hello', 3.14, True, [1, 2, 3]]

In [27]:
# Question 21: Find the length of each string in ["apple", "banana", "cherry", "date"]
print("\nQuestion 21: Find the length of each string in ['apple', 'banana', 'cherry', 'date']")
# Your code here
fruits = ['apple', 'banana', 'cherry', 'date']
lengths = [len(fruit) for fruit in fruits]
print("Length of each string:", lengths)

Question 21: Find the length of each string in ['apple', 'banana', 'cherry', 'date']
Length of each string: [5, 6, 6, 4]

In [28]:
# Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]
print("\nQuestion 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]")
# Your code here
numbers = [1, 2, 3]
letters = ['a', 'b', 'c']

list_of_tuples = list(zip(numbers, letters))
print("List of tuples:", list_of_tuples)

Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]
List of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]

In [29]:
# Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]
print("\nQuestion 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]")
# Your code here
tuples = [(1, 'a'), (2, 'b'), (3, 'c')]
first_elements = [t[0] for t in tuples]
print("First elements:", first_elements)

Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]
First elements: [1, 2, 3]

In [30]:
# Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
print("\nQuestion 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]")
# Your code here
list_of_dicts = []   # start with empty list

list_of_dicts.append({'name': 'Alice', 'age': 25})
list_of_dicts.append({'name': 'Bob', 'age': 30})

print("List of dictionaries:", list_of_dicts)

Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
List of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

In [31]:
# Question 25: Extract all 'name' values from list of dictionaries
print("\nQuestion 25: Extract all 'name' values from list of dictionaries")
# Your code here
list_of_dicts = [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
names = [d['name'] for d in list_of_dicts]
print("Names:", names)

Question 25: Extract all 'name' values from list of dictionaries
Names: ['Alice', 'Bob']

In [32]:
# Question 26: Find the person with maximum age in list of dictionaries
print("\nQuestion 26: Find the person with maximum age in list of dictionaries")
# Your code here
people = [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
oldest = max(people, key=lambda x: x['age'])
print("Person with maximum age:", oldest)

Question 26: Find the person with maximum age in list of dictionaries
Person with maximum age: {'name': 'Bob', 'age': 30}

In [33]:
# Question 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
print("\nQuestion 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]")
# Your code here
list_4d = []
count = 1

for i in range(2):        # 2 main blocks
    block3d = []
    for j in range(2):    # each block has 2 sub-blocks
        block2d = []
        for k in range(2):  # each sub-block has 2 lists
            sublist = [count, count + 1]
            block2d.append(sublist)
            count += 2
        block3d.append(block2d)
    list_4d.append(block3d)

print("4D list:", list_4d)

Question 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]

In [34]:
# Question 28: Find the maximum value in 4D list
print("\nQuestion 28: Find the maximum value in 4D list")
# Your code here
maximum = float('-inf')

for block3d in list_4d:
    for block2d in block3d:
        for sublist in block2d:
            for num in sublist:
                if num > maximum:
                    maximum = num

print("Maximum value:", maximum)

Question 28: Find the maximum value in 4D list
Maximum value: 16

In [35]:
# Question 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
print("\nQuestion 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]")
# Your code here
list_of_sets = []

list_of_sets.append({1, 2, 3})
list_of_sets.append({4, 5, 6})
list_of_sets.append({7, 8, 9})

print("List of sets:", list_of_sets)

Question 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
List of sets: [{1, 2, 3}, {4, 5, 6}, {8, 9, 7}]

In [36]:
# Question 30: Find the union of all sets in list of sets
print("\nQuestion 30: Find the union of all sets in list of sets")
# Your code here
union_set = set().union(*list_of_sets)
print("Union of all sets:", union_set)

Question 30: Find the union of all sets in list of sets
Union of all sets: {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [37]:
# Question 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]
print("\nQuestion 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]")
# Your code here
complex_list = []

complex_list.append(1+2j)
complex_list.append(3+4j)
complex_list.append(5+6j)

print("List of complex numbers:", complex_list)

Question 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]
List of complex numbers: [(1+2j), (3+4j), (5+6j)]

In [38]:
# Question 32: Find the magnitude of each complex number in list
print("\nQuestion 32: Find the magnitude of each complex number in list")
# Your code here
magnitudes = [abs(c) for c in complex_list]
print("Magnitudes:", magnitudes)

Question 32: Find the magnitude of each complex number in list
Magnitudes: [2.23606797749979, 5.0, 7.810249675906654]

In [39]:
# Question 33: Create a nested list with different levels: [1, [2, 3], [4, [5, 6]], 7]
print("\nQuestion 33: Create a nested list with different levels: [1, [2, 3], [4, [5, 6]], 7]")
# Your code here
nested_list = []

nested_list.append(1)
nested_list.append([2, 3])
nested_list.append([4, [5, 6]])
nested_list.append(7)

print("Nested list:", nested_list)

Question 33: Create a nested list with different levels: [1, [2, 3], [4, [5, 6]], 7]
Nested list: [1, [2, 3], [4, [5, 6]], 7]

In [40]:
# Question 34: Count the depth of nesting in [1, [2, 3], [4, [5, 6]], 7]
print("\nQuestion 34: Count the depth of nesting in [1, [2, 3], [4, [5, 6]], 7]")
# Your code here
def depth(lst):
    if isinstance(lst, list):
        return 1 + max((depth(item) for item in lst), default=0)
    return 0

print("Depth of nesting:", depth(nested_list))

Question 34: Count the depth of nesting in [1, [2, 3], [4, [5, 6]], 7]
Depth of nesting: 3

In [42]:
# Question 35: Create a list of functions: [len, str, int, float]
print("\nQuestion 35: Create a list of functions: [len, str, int, float]")
# Your code here
# Using len
functions = [len, str, int, float]

print("Length of 'hello':", functions[0]("hello"))

# Using str
print("Convert 123 to string:", functions[1] )

# Using int
print("Convert '456' to int:", functions[2]("456"))

# Using float
print("Convert '3.14' to float:", functions[3]("3.14"))

Question 35: Create a list of functions: [len, str, int, float]
Length of 'hello': 5
Convert 123 to string: <class 'str'>
Convert '456' to int: 456
Convert '3.14' to float: 3.14

In [43]:
functions = []

functions.append(len)
functions.append(str)
functions.append(int)
functions.append(float)

print("List of functions:", functions)

List of functions: [<built-in function len>, <class 'str'>, <class 'int'>, <class 'float'>]

In [44]:
# Question 36: Apply each function in list to string "123"
print("\nQuestion 36: Apply each function in list to string '123'")
# Your code here
s = '123'

for func in functions:
    try:
        result = func(s)
        print(f"{func.__name__}('{s}') =", result)
    except Exception as e:
        print(f"{func.__name__}('{s}') caused error:", e)

Question 36: Apply each function in list to string '123'
len('123') = 3
str('123') = 123
int('123') = 123
float('123') = 123.0

In [46]:
# Question 37: Create a list of lambda functions: [lambda x: x*2, lambda x: x**2, lambda x: x+1]
print("\nQuestion 37: Create a list of lambda functions: [lambda x: x*2, lambda x: x**2, lambda x: x+1]")
# Your code here
lambda_functions = []

lambda_functions.append(lambda x: x*2)
lambda_functions.append(lambda x: x**2)
lambda_functions.append(lambda x: x+1)

print("List of lambda functions:", lambda_functions)

Question 37: Create a list of lambda functions: [lambda x: x*2, lambda x: x**2, lambda x: x+1]
List of lambda functions: [<function <lambda> at 0x7f0eef4784a0>, <function <lambda> at 0x7f0eef479300>, <function <lambda> at 0x7f0eef4787c0>]

In [47]:
# Question 38: Apply each lambda function to 5
print("\nQuestion 38: Apply each lambda function to 5")
# Your code here
x = 5

for i, func in enumerate(lambda_functions, 1):
    print(f"Function {i} applied to {x}:", func(x))

Question 38: Apply each lambda function to 5
Function 1 applied to 5: 10
Function 2 applied to 5: 25
Function 3 applied to 5: 6

In [48]:
# Question 39: Create a list of classes: [list, dict, set, tuple]
print("\nQuestion 39: Create a list of classes: [list, dict, set, tuple]")
# Your code here
classes_list = []

classes_list.append(list)
classes_list.append(dict)
classes_list.append(set)
classes_list.append(tuple)

print("List of classes:", classes_list)

Question 39: Create a list of classes: [list, dict, set, tuple]
List of classes: [<class 'list'>, <class 'dict'>, <class 'set'>, <class 'tuple'>]

In [49]:
# Question 40: Create instances of each class in list
print("\nQuestion 40: Create instances of each class in list")
# Your code here
instances = [cls() for cls in classes_list]
print("Instances of each class:", instances)

Question 40: Create instances of each class in list
Instances of each class: [[], {}, set(), ()]

In [50]:
# Question 41: Create a list of None values: [None, None, None, None]
print("\nQuestion 41: Create a list of None values: [None, None, None, None]")
# Your code here
none_list = []

for _ in range(4):
    none_list.append(None)

print("List of None values:", none_list)

Question 41: Create a list of None values: [None, None, None, None]
List of None values: [None, None, None, None]

In [51]:
# Question 42: Replace all None values with 0 in list
print("\nQuestion 42: Replace all None values with 0 in list")
# Your code here
updated_list = []

for x in none_list:
    if x is None:
        updated_list.append(0)
    else:
        updated_list.append(x)

print("List after replacing None with 0:", updated_list)

Question 42: Replace all None values with 0 in list
List after replacing None with 0: [0, 0, 0, 0]

In [52]:
# Question 43: Create a list of boolean values: [True, False, True, False]
print("\nQuestion 43: Create a list of boolean values: [True, False, True, False]")
# Your code here
bool_list = []

values = [True, False, True, False]
for val in values:
    bool_list.append(val)

print("List of boolean values:", bool_list)

Question 43: Create a list of boolean values: [True, False, True, False]
List of boolean values: [True, False, True, False]

In [53]:
# Question 44: Count True values in boolean list
print("\nQuestion 44: Count True values in boolean list")
# Your code here
true_count = 0
for b in bool_list:
    if b:
        true_count += 1

print("Number of True values:", true_count)

Question 44: Count True values in boolean list
Number of True values: 2

In [54]:
true_count = sum(bool_list)
print("Number of True values:", true_count)
#Note: In Python, True is treated as 1 and False as 0, so sum() works perfectly.

Number of True values: 2

In [55]:
# Question 45: Create a list of ranges: [range(3), range(5), range(2)]
print("\nQuestion 45: Create a list of ranges: [range(3), range(5), range(2)]")
# Your code here
range_list = []

range_list.append(range(3))
range_list.append(range(5))
range_list.append(range(2))

print("List of ranges:", range_list)

Question 45: Create a list of ranges: [range(3), range(5), range(2)]
List of ranges: [range(0, 3), range(0, 5), range(0, 2)]

In [56]:
# Question 46: Convert each range to list
print("\nQuestion 46: Convert each range to list")
# Your code here
lists_of_numbers = []

for r in range_list:
    lists_of_numbers.append(list(r))

print("Converted ranges to lists:", lists_of_numbers)

Question 46: Convert each range to list
Converted ranges to lists: [[0, 1, 2], [0, 1, 2, 3, 4], [0, 1]]

In [57]:
# Question 47: Create a list of generators: [(x for x in range(3)), (x for x in range(5))]
print("\nQuestion 47: Create a list of generators: [(x for x in range(3)), (x for x in range(5))]")
# Your code here
generator_list = []

generator_list.append((x for x in range(3)))
generator_list.append((x for x in range(5)))

print("List of generators:", generator_list)

Question 47: Create a list of generators: [(x for x in range(3)), (x for x in range(5))]
List of generators: [<generator object <genexpr> at 0x7f0eef5f5600>, <generator object <genexpr> at 0x7f0eef5f5180>]

In [58]:
# Question 48: Convert each generator to list
print("\nQuestion 48: Convert each generator to list")
# Your code here
generator_list = [(x for x in range(3)), (x for x in range(5))]
lists_from_generators = [list(gen) for gen in generator_list]
print("Converted generators to lists:", lists_from_generators)

Question 48: Convert each generator to list
Converted generators to lists: [[0, 1, 2], [0, 1, 2, 3, 4]]

In [59]:
# Question 49: Create a list of iterators: [iter([1, 2, 3]), iter([4, 5, 6])]
print("\nQuestion 49: Create a list of iterators: [iter([1, 2, 3]), iter([4, 5, 6])]")
# Your code here
iterator_list = []

iterator_list.append(iter([1, 2, 3]))
iterator_list.append(iter([4, 5, 6]))

print("List of iterators:", iterator_list)

Question 49: Create a list of iterators: [iter([1, 2, 3]), iter([4, 5, 6])]
List of iterators: [<list_iterator object at 0x7f0eef42c9d0>, <list_iterator object at 0x7f0eef42ef80>]

In [60]:
# Question 50: Extract all elements from each iterator
print("\nQuestion 50: Extract all elements from each iterator")
# Your code here
iterator_list = [iter([1, 2, 3]), iter([4, 5, 6])]
lists_from_iterators = [list(it) for it in iterator_list]
print("Extracted elements from iterators:", lists_from_iterators)

Question 50: Extract all elements from each iterator
Extracted elements from iterators: [[1, 2, 3], [4, 5, 6]]