int(Integer)

In [ ]:
#Addition ( + )

#Adding new students to the total
new_students_batch1 = 120
total_students = 1500
total_students = total_students + new_students_batch1
print(f"Total students after batch 1: {total_students}")

Total students after batch 1: 1620

In [ ]:
#Adding total modules in two courses
ds_modules = 15
de_modules = 18
total_modules = ds_modules + de_modules
print(f"Total modules in DS & DE :{total_modules}")

Total modules in DS & DE :33

In [ ]:
# Summing batch sizes
batch_size_1 = 50
batch_size_2 = 45
combined_batch_size = batch_size_1 + batch_size_2
print(f"Combined size of two batches : {combined_batch_size}")

Combined size of two batches : 95

In [ ]:
# combining positive and negative changes
student_change = 50 + (-10) +30
print(f"Net student change: {student_change}")

Net student change: 70

In [ ]:
# Subtraction ( - )

#calculating remaining seats
batch_capacity = 60
enrolled = 55
remaining_seats =batch_capacity - enrolled
print(f" Remaining seats : {remaining_seats}")

 Remaining seats : 5

In [ ]:
#calculating student dropouts

initial_students=1500
final_students=1485
dropouts=initial_students - final_students
print(f"Number of dropouts : {dropouts}")

Number of dropouts : 15

In [ ]:
#Subtracting Zero

revenue = 50000
revenue_after_discount = revenue -0
print(f"Revenue after zero discount : {revenue_after_discount}")

Revenue after zero discount : 50000

In [ ]:
#Days remaining in a course

total_days =90
days_passed = 30
days_remaining = total_days - days_passed
print(f"Days remaining: {days_remaining}")

Days remaining: 60

In [ ]:
#Multiplication ( * )

#Calculating total revenue

total_students = 1500
course_fee = 500
total_revenue = total_students * course_fee
print(f"Total potential revenue: ${total_revenue}")

Total potential revenue: $750000

In [ ]:
#calculating total hours for a course

modules = 15
hours_per_module = 4
total_hours = modules * hours_per_module
print(f"Total course hours : {total_hours}")

Total course hours : 60

In [ ]:
#multiplying by zero

zero_enrollment_batches = 0
students_per_batch = 50
total_from_zero_batches = zero_enrollment_batches * students_per_batch
print(f"Students from zero batches : {total_from_zero_batches}")

Students from zero batches : 0

In [ ]:
#Multiplying by a negative number

profit_per_student = 100
refunds = -5       #Representing 5 refunds
impact_on_profit = refunds * profit_per_student
print(f"Profit impact from refunds : {impact_on_profit}")

Profit impact from refunds : -500

In [ ]:
# Floor divison (//)