In [4]:
# TUPLE DATATYPE ASSIGNMENT

# SOLVED EXAMPLE
# --------------
# Question: Find the sum and product of all elements in a tuple
print("Find the sum and product of all elements in a tuple")
numbers = (2, 4, 6, 8, 10)
sum_tuple = sum(numbers)
product = 1
for num in numbers:
    product *= num
print(f"Tuple: {numbers}")
print(f"Sum: {sum_tuple}")
print(f"Product: {product}")
print("-" * 50)

Find the sum and product of all elements in a tuple
Tuple: (2, 4, 6, 8, 10)
Sum: 30
Product: 3840
--------------------------------------------------

In [5]:
# Question 1: Create a tuple of first 10 natural numbers
print("Question 1: Create a tuple of first 10 natural numbers")
# Your code here

numbers = tuple(range(1, 11))
print(numbers)

Question 1: Create a tuple of first 10 natural numbers
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [6]:
# Question 1: Create a tuple of first 10 natural numbers
print("Question 1: Create a tuple of first 10 natural numbers")

# Creating tuple manually
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(numbers)

Question 1: Create a tuple of first 10 natural numbers
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [7]:
# Question 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print("\nQuestion 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)")
# Your code here

# Defining the tuple
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Finding length
print(len(numbers))

Question 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
10

In [8]:
# Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')
print("\nQuestion 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')")
# Your code here

# Defining the tuple
letters = ('a', 'b', 'c', 'd', 'e')

# Accessing 3rd element (index 2)
print(letters[2])

Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')
c

In [9]:
# Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)
print("\nQuestion 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)")
# Your code here
# Defining the tuple
numbers = (23, 45, 12, 67, 34, 89, 56)

# Finding maximum
print(max(numbers))

Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)
89

In [10]:
# Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)
print("\nQuestion 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)")
# Your code here
# Defining the tuple
numbers = (1, 5, 2, 5, 3, 5, 4, 5, 6)

# Counting occurrences of 5
print(numbers.count(5))

Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)
4

In [12]:
# Question 6: Create a tuple of mixed data types (integer, float, string, boolean)
print("\nQuestion 6: Create a tuple of mixed data types (integer, float, string, boolean)")
# Your code here

# Creating tuple with mixed data types
mixed_tuple = (25, 3.14, "Hello", True)

print(mixed_tuple)

Question 6: Create a tuple of mixed data types (integer, float, string, boolean)
(25, 3.14, 'Hello', True)

In [13]:
# Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')
print("\nQuestion 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')")
# Your code here

# Defining the tuple
languages = ('java', 'python', 'c++', 'javascript')

# Finding index of 'python'
print(languages.index('python'))

Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')
1

In [14]:
# Question 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)
print("\nQuestion 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)")
# Your code here

# Defining the tuple
numbers = (10, 20, 30, 40, 50)

# Checking if 25 exists
print(25 in numbers)

Question 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)
False

In [15]:
# Question 9: Create a tuple of first 5 even numbers
print("\nQuestion 9: Create a tuple of first 5 even numbers")
# Your code here
# Method 1: Using range()
even_numbers = tuple(range(2, 11, 2))
print(even_numbers)

# Method 2: Directly writing the tuple
even_numbers_direct = (2, 4, 6, 8, 10)
print(even_numbers_direct)

Question 9: Create a tuple of first 5 even numbers
(2, 4, 6, 8, 10)
(2, 4, 6, 8, 10)

In [16]:
# Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)
print("\nQuestion 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)")
# Your code here
# Defining the tuple
numbers = (15, 23, 31, 42, 56, 78)

# Calculating average
average = sum(numbers) / len(numbers)
print(average)

Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)
40.833333333333336